@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-12 min-vh-100">
<div class="text-center align-items-center">
    <h1 class="display-4"><strong>Welcome to Student Management Software</strong></h1>
    <h2>Information Control For Students</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class=" container col-4 py-5 mt-5 text-center align-items-center">
<div container ></div>
        <h2>Enter All Information with Using This Application</h2>
</div>
</div>
</div>